.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1;
}

.headshot {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headerItem {
    grid-column-start: 7;
    grid-column-end: 12;
}